{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Devicegroups</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('devicegroups_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sorting</th>
                        <th>Title</th>
                        <th>Collapsed in dashboard</th>
                        <th>Program active</th>
                        <th>Groups</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for devicegroup in devicegroups %}
                        <tr>
                            <td>{{ devicegroup.sorting }}</td>
                            <td>{{ devicegroup.title }}</td>
                            <td>{{ devicegroup.collapsed ? 'yes' : 'no' }}</td>
                            <td>{{ devicegroup.programActive ? 'active' : 'inactive' }}</td>
                            <td>{% if devicegroup.groups|length %}{% for group in devicegroup.groups %}{{ group.groupname }}{% if not loop.last %},{% endif %}{% endfor %}{% else %}ALL{% endif %}</td>
                            <td>
                                <a href="{{ url('devicegroups_update',{id:devicegroup.id}) }}"><i class="fas fa-edit"></i> Edit</a>
                                -
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete device '{{ devicegroup.title }}'?" data-button="Ok" data-href="{{ url('devicegroups_delete',{id:devicegroup.id}) }}"><i class="fas fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}