{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Devices</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('devices_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Configuration</th>
                        <th>Linked</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>{{ device.deviceName }}</td>
                            <td>{{ device.configuration ? arrayParamsPrint(device.configuration)|raw : '' }}</td>
                            <td>{{ device.link ? device.link.deviceName : '-' }}</td>
                            <td>{{ device.deviceGroup ? device.deviceGroup.title : '' }}</td>
                            <td>
                                <a href="{{ url('devices_update',{id:device.id}) }}"><i class="fas fa-edit"></i> Edit</a>
                                -
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete device '{{ device.deviceName }}'?" data-button="Ok" data-href="{{ url('devices_delete',{id:device.id}) }}"><i class="fas fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}