<div class="row" data-device-id="{{ device.getNativeDevice().id }}">
    {% if device.configuration.hide_switch is not defined or (device.configuration.hide_switch is defined and device.configuration.hide_switch == "false") %}
        <div class="col mb-2">
            <button data-device-state="" class="btn btn-primary device switch device-id-{{ device.getNativeDevice().id }}" disabled>
                {{ device.getNativeDevice().getDeviceName() ?: 'No title' }}
            </button>
        </div>
    {% endif %}
    {% if device.configuration.hide_impuls_switch is not defined or (device.configuration.hide_impuls_switch is defined and device.configuration.hide_impuls_switch == "false") %}
    <div class="col">
        <div class="row">
            <div class="col mb-1">
                <button data-device-state="" class="btn btn-primary device switch-impuls device-id-{{ device.getNativeDevice().id }}" disabled>
                    Impuls {{ device.getNativeDevice().getDeviceName() ?: 'No title' }}
                </button>
            </div>
            <div class="col">
                <input value="{% if device.configuration.duration_default is defined %}{{ device.configuration.duration_default }}{% else %}5{% endif %}" type="text" class="device duration-input device-id-{{ device.getNativeDevice().id }}">
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    var function_script{{ device.getNativeDevice().id }} = {
        id: {{ device.getNativeDevice().id }},
        init: function() {            
            let that = this;
            let callbackSwitch = function(result) {
                if (result.device_not_responding) {
                    return false;
                }
                $('.device.switch.device-id-'+that.id).removeAttr('disabled');
                $('.device.switch-impuls.device-id-'+that.id).removeAttr('disabled');
                $('.device.switch.device-id-'+that.id).attr('data-device-state',result.result.current == 0 ? 'aus' : 'an');
                $('.device.switch.device-id-'+that.id).removeClass('btn-danger');
                $('.device.switch.device-id-'+that.id).removeClass('btn-success');
                $('.device.switch.device-id-'+that.id).addClass(result.result.current == 0 ? 'btn-danger':'btn-success');
            };
            Baseapp.apicall(
                'app_device_controller:commandToDeviceId',
                { id: that.id, command: 'getStates' },
                callbackSwitch
            );
            $('.device.switch.device-id-'+that.id).click(function(e) {
                let state = $(this).attr('data-device-state');
                $(this).attr('data-device-state',state == 'aus' ? 'an' : 'aus');
                $(this).removeClass('btn-danger');
                $(this).removeClass('btn-success');
                $(this).addClass(state == 'aus' ? 'btn-success' : 'btn-danger');
                Baseapp.apicall(
                    'app_device_controller:commandToDeviceId',
                    { id: that.id, command: 'switch', mode: state == 'aus' ? 'an' : 'aus' }
                );
            });
            $('.device.switch-impuls.device-id-'+that.id).click(function(e) {
                let element = this;
                $(this).attr('disabled','disabled');
                Baseapp.apicall(
                    'app_device_controller:commandToDeviceId',
                    {
                        id: that.id,
                        command: 'switch-impuls',
                        duration: $('.device.duration-input.device-id-'+that.id).val()
                    },
                    function(){
                        $(element).removeAttr('disabled');
                    }
                );
            });
        }
    };

    Object.create(function_script{{ device.getNativeDevice().id }}).init();
</script>