{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Programs</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('programs_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <p>Device filter</p>
            <select id="program-device-filter" class="custom-select custom-select-sm form-control form-control-sm">
                <option value="">All</option>
                {% for device in deviceList %}
                    <option value="{{ device }}" {% if device == selectedFilter %}selected="selected"{% endif %}>{{ device }}</option>
                {% endfor %}
            </select>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Device</th>
                        <th>active</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Days</th>
                        <th>command</th>
                        
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for program in programs %}
                        <tr>
                            <td>{{ program.device ? program.device.deviceName : '' }}</td>
                            <td>{{ program.active ? 'Active' : 'Inactive' }}</td>
                            <td>{{ program.startHour ? program.startHour : '' }}:{{ program.startMinute ? program.startMinute : '' }}</td>
                            <td>{{ program.endHour ? program.endHour : '' }}:{{ program.endMinute ? program.endMinute : '' }}</td>
                            <td>{{ arrayPrint(program.days) }}</td>
                            <td>{{ program.configuration ? arrayParamsPrint(program.configuration)|raw : '' }}</td>
                            <td>
                                <a href="{{ url('programs_update',{id:program.id}) }}"><i class="fas fa-edit"></i> Edit</a>
                                -
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete program '{{ program.id }}'?" data-button="Ok" data-href="{{ url('programs_delete',{id:program.id}) }}"><i class="fas fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "pageLength": 50,
                "order": [[{% if selectedFilter is defined and selectedFilter %}2{% else %}0{% endif %},'asc']]
            });
            $('#program-device-filter').change(function(){
                Baseapp.apicall(
                    'app_program_controller:setDeviceFilter',
                    {filter:$(this).val()},
                    function(result) {
                        location.reload();
                    }
                );
            });
        });
    </script>
{% endblock %}