{% extends '@Baseapp/layout-with-sidebar.html.twig' %}
{% form_theme form '@Baseapp/form/theme.html.twig' %}

{% block content_inner %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Program</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('select[name="program_form[device]"]').change(function(i,e) {
                Baseapp.apicall(
                    'app_device_controller:getProgramConfiguration',
                    {type:$(this).val()},
                    function(result) {
                        $('[name="program_form[configuration]"]').val(result.content);
                    });
            });
        });
    </script>
{% endblock %}