<div class="row sensor device-id-{{ device.getNativeDevice().id }}" data-device-id="{{ device.getNativeDevice().id }}">
    <div class="col mb-2">
        <h5>{{ device.getNativeDevice().getDeviceName() ?: 'No title' }}</h5>
    </div>
    <div class="col mb-2">
        <p><strong>Temperature:</strong> <span class="temp"></span> °C</p>
        <p><strong>Humidity:</strong> <span class="humi"></span> %</p>
    </div>
</div>
 <div class="row sensorlog device-id-{{ device.getNativeDevice().id }}" style="margin-bottom: 10px;">
    <div class="col">
    <h6>Log Temperatur:</h6>
        <div class="temperatur" style="position:relative; height: 160px; width:100%;">
            <canvas/>
        </div>
    </div>    
</div>
<div class="row sensorlog device-id-{{ device.getNativeDevice().id }}" style="margin-bottom: 10px;">    
    <div class="col">
    <h6>Log Luftfeuchtigkeit:</h6>
        <div class="humidity" style="position:relative; height: 160px; width:100%;">
            <canvas/>
        </div>
    </div>
</div>
<div class="row sensorlog-filter device-id-{{ device.getNativeDevice().id }}">
    <div class="col mb-2">
        <p>Date: <input type="text" class="datepicker"></p>
    </div>
    <div class="col mb-2">
        <a style="text-align: center; display: block;" class="btn btn-danger disabled baseapp-modal-dialog" href="#" data-href="{{path('devices_delete_log',{id:device.getNativeDevice().id})}}" data-title="Delete?" data-body="Do you want delete the log for this device?" data-button="Ok">
            Delete log entries
        </a>
    </div>  
</div>

<script>
    var function_script{{ device.getNativeDevice().id }} = {
        id: {{ device.getNativeDevice().id }},
        init: function() {            
            let that = this;

            let data = [];
            let temperatur = TimeValueGraph.init('.sensorlog.device-id-{{ device.getNativeDevice().id }} .temperatur',data,
                'temperature',{{device.configuration.temperature_min?:0}},{{device.configuration.temperature_max?:100}},{{device.configuration.temperature_step?:10}},'°C');
            
            let humidity = TimeValueGraph.init('.sensorlog.device-id-{{ device.getNativeDevice().id }} .humidity',data,
                'humidity',{{device.configuration.humidity_min?:0}},{{device.configuration.humidity_max?:100}},{{device.configuration.humidity_step?:10}},'%');
            
            let callbackCurrentValues = function(result) {
                if (result.device_not_responding) {
                    return false;
                }
                $('.sensor.device-id-{{ device.getNativeDevice().id }} .temp').html(result.temperature);
                $('.sensor.device-id-{{ device.getNativeDevice().id }} .humi').html(result.humidity);                
            };
            let callbackLog = function(result) {
                temperatur.update(result.list);
                humidity.update(result.list);
                if (result.logcount > 0) {
                    $('.sensorlog-filter.device-id-{{ device.getNativeDevice().id }} a.btn').removeClass('disabled');
                    $('.sensorlog-filter.device-id-{{ device.getNativeDevice().id }} a.btn')
                        .html('Delete '+result.logcount+' log entr'+(result.logcount === '1' ? 'y':'ies'));
                }                
            };
            Baseapp.apicall(
                'app_device_controller:commandToDeviceId',
                { id: that.id, command: 'getState' },
                callbackCurrentValues
            );
            Baseapp.apicall(
                'app_device_controller:getDeviceLog',
                { id: that.id, command: 'getLog' },
                callbackLog
            );
            $('.sensorlog-filter.device-id-{{ device.getNativeDevice().id }} .datepicker').datepicker();
            $('.sensorlog-filter.device-id-{{ device.getNativeDevice().id }} .datepicker').on('change',function(e) {
                let date = $('.sensorlog-filter.device-id-{{ device.getNativeDevice().id }} .datepicker').datepicker("option", "dateFormat", "dd.mm.yy" ).val();
                Baseapp.apicall(
                    'app_device_controller:getDeviceLog',
                    { id: that.id, date:date, command: 'getLog' },
                    callbackLog
                );
            });
        }
    };    

    Object.create(function_script{{ device.getNativeDevice().id }}).init();
</script>