{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    {% set counter = 0 %}
    {% for sorting in devices %}
        {% set counter = counter + 1 %}
        {% for group in sorting %}
            {% set counter = counter + 1 %}
            <div id="accordion{{ counter }}">
                <div class="card mb-3">
                    <div class="card-header" id="heading{{ counter }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link {% if group.collapsed %}collapsed{% endif %}" aria-expanded="{% if group.collapsed %}false{% else %}true{% endif %}" data-toggle="collapse" data-target="#collapse{{ counter }}" aria-controls="collapse{{ counter }}">
                                <h2>{{ group.title }}</h2>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ counter }}" class="collapse {% if not group.collapsed %}show{% endif %}" aria-labelledby="heading{{ counter }}" data-parent="#accordion{{ counter }}">
                        <div class="card-body">
                            {% for device in group.list %}
                                {{ device.render()|raw }}
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}